<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns = "http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Virtual Shields for Arduino - Internal' in resource group 'AppInsights-MakerProjects' -->
  <InstrumentationKey>5bd86d14-a97a-4590-bdf7-f0b02963d7e1</InstrumentationKey>
</ApplicationInsights>