<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns = "http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'Virtual Shields for Arduino - Public' in resource group 'AppInsights-MakerProjects' -->
  <InstrumentationKey>1006745a-e3fb-4a74-b299-fc233e91b14c</InstrumentationKey>
</ApplicationInsights>